%html
   %head
      %link(   href=@css   rel="stylesheet" )
      %script( src=@jquery type="application/javascript" )
      %script( src=@client type="application/javascript" )
      %script( type="application/javascript" )
         =@init
   %body
      %div#grid
      %script( type="application/javascript" )
         $( window ).on( "load", on_load )