/*
#root {
   border:  2px solid rgb( 148, 183, 255 );
   padding: 6px;
   display: flex;
   flex-direction:  column;
   justify-content: flex-start;
}

.task {
   background-color: rgb( 227, 236, 255 );
   margin:  6px;
   padding: 12px;
}

.task {
    padding: 8px;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px lightgray;
}



.table-container {
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    align-items: center;
}

.date {
    white-space: nowrap;
    border: 1px solid black;
    padding: 3px;
}

.table-cell {
    border: 1px solid #000;
    padding: 5px;
    margin-left: 10px;


}

.list-item {
    display: inline-block;
    margin-left: 10px
}

.list {
    list-style-type: none;

}


li button {
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    background-color: rgb(189, 189, 189);
    box-shadow: 2px 2px gray;
}

li button:active {
    background-color: lightblue;
}

.taskAdd {
    margin-left: 10px;

}

.root {
    margin-left: 10px;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);

}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-header .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
} */

body {
   font: 12px Calibri;
   color: rgb( 114, 114, 114 );   /* this is font color; no need to point out that the style is poorly named */
}

#root {
   padding: 12px;
   display: flex;                   /* display child 'day' elements in a column top-to-bottom */
   flex-direction: column;
   justify-content: flex-start;
}

.day {
   display: flex;                   /* display child 'date' and 'task' elements in a row left-to-right */
   flex-direction: row;
   justify-content: flex-start;
   height: 4em;
   margin: 2px;
   border-bottom-style: solid;
   border-width: 1px;
   border-color: rgb( 250, 250, 250 );
   padding: 4px;
}

.date {
   margin: 2px 4px 2px 2px;         /* right margin is 4px */
   background-color:rgb( 232, 243, 255 )
}

.empty {                            /* this must follow '.date' so that it overrides background color */
   background-color:rgb( 251, 253, 255 )
}

.task {
   margin: 2px;
}

.task::selection {
  background: transparent;
  color: inherit;
}

.todo {
   background-color:rgb( 255, 223, 223 )
}

.doing {
   background-color:rgb( 253, 251, 217 )
}

.done {
   background-color:rgb( 219, 244, 213 )
}

.add {                              /* this must follow '.date' and '.task' so that it overrides background and font colors */
   color: rgb( 183, 183, 183 );   /* font color again rears its ugly head */
   background-color:rgb( 240, 240, 240 )
}
