
/*--------------------------------------------------------------------------------------------------------------------*/

:root {
   --add:        rgb( 240, 240, 240 );
   --date:       rgb( 232, 243, 255 );
   --empty-date: rgb( 251, 253, 255 );
   --day-height:  4em;
   --date-width:  7em;
   --task-width: 10em;
}

body {
   background-color:rgb( 252, 252, 255 );
   font: 14px Calibri;
   color: rgb( 114, 114, 114 );   /* this is font color; no need to point out that the style is poorly named */
}

#grid {
   padding: 12px;
   display: flex;                  /* display child 'day' elements in a column top-to-bottom */
   flex-direction:  column;
   justify-content: flex-start;
}

.day {
   display: flex;                  /* display child 'date' and 'task' elements in a row left-to-right */
   flex-direction:  row;
   justify-content: flex-start;
   margin: 2px;
   border-bottom-style: solid;
   border-width: 1px;
   border-color: rgb( 200, 200, 200 );
   padding: 2px 2px 4px 2px;       /* bottom padding is 4px to compensate for collapsing veritcal margin btw .day */
}

.date {
   display: flex;
   justify-content: center;
   align-items:     center;
   text-align:      center;
   width:      var( --date-width );
   min-width:  var( --date-width );
   height:     var( --day-height );
   min-height: var( --day-height );
   margin: 4px 8px 4px 4px;             /* right margin is 8px for more space btw task */
   background-color: var( --date );
}

.empty {                                /* this must follow '.date' so that it overrides background color */
   background-color: var( --empty-date );
}

.date-add {                             /* this must follow '.date' so that it overrides background and margin */
   margin: 8px;                         /* increase margin to include margin and padding of day element */
   background-color: var( --add );
}

.task {
   display: flex;
   justify-content: center;             /* centers text horizontally */
   align-items:     center;             /* centers text vertically */
   text-align:      center;             /* causes multi-line text to center on wrap */
   width:      var( --task-width );
   min-width:  var( --task-width );
   height:     var( --day-height );
   min-height: var( --day-height );
   margin:        4px;
   border-radius: 8px;
}

.task::selection {
  background: transparent;
  color: inherit;
}

.todo {
   background-color:rgb( 255, 202, 202 );
}

.doing {
   background-color:rgb( 253, 240, 200 );
}

.done {
   background-color:rgb( 208, 242, 191 );
}

.task-add {                        /* this must follow '.task' so it overrides background color, height, width */
   width:     var( --day-height );
   min-width: var( --day-height );
   background-color: var( --add );
}
