%html
    %head
        %link(  href=@css       rel="stylesheet" )
        %script( src=@react     type="application/javascript" )
        %script( src=@react_dom type="application/javascript" )
        %script( src=@babel     type="application/javascript" )
        %script( type="application/javascript" )
            =@init
    %body
        %div#grid
        %script( src=@client type="text/babel" )
