.table-container {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    align-items: center;
}

.table-header {
    /* writing-mode: vertical-lr; Rotate text vertically */
    /* transform: rotate(180deg); */
    white-space: nowrap; /* Prevent text from wrapping */
    /* margin: 5px; Adjust margin as needed */
    border: 1px solid black;
    padding: 3px;
}

.table-cell {
    border: 1px solid #000;
    padding: 5px;
    margin-left: 10px;
    /* background-color: rgb(189, 250, 170); */

}

.list-item {
    display: inline-block;
    margin-left: 10px
}

.list {
    list-style-type: none;

}


li button {
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    background-color: rgb(189, 189, 189);
    box-shadow: 2px 2px gray;
}

li button:active {
    background-color: lightblue;
}

.add-button {
    margin-left: 10px;

}

.cell {
    margin-left: 10px;
    margin-bottom: 10px;
}